<style>
.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }
</style>
	
	% for cpt in range(nbre_sons):
	      %  if (cpt % 3) == 0:
            <div class="container">
   <div class="column-left">
       % elif (cpt % 3) == 1:
          <div class="column-center">
       % elif (cpt % 3) == 2:
           <div class="column-right">
           %end
	
    	<form method="get" action="/_play/{{cpt}}"> 
    	    <button type="submit" style="height: 100px; width: 100px">Play {{cpt}}</button> 
    	</form>

        </div>
        % if (cpt % 3) == 2:
          </div>
        % end

	% end
        <form method="get" action="/_play_next"> 
            <button type="submit" style="height: 100px; width: 300px">Play next</button> 
        </form>
        <br />

        <form action="/changeconfig" method="post">
          %for config in list_config:
                <input type="radio" name="options" id="{{config}}" value="{{config}}" {{!'checked="checked"' if config == current_config else ""}} style="height: 35px;width: 35px" > {{config}} </input><br>
          %end
            <input type="submit" value="Change config" style="height: 100px; width: 300px" />
        </form>

        <form action="/reload_configs" method="post">
            <input type="submit" value="Reload config" style="height: 100px; width: 300px" />
        </form>

        <form action="/next_config" method="post">
            <input type="submit" value="Next config" style="height: 100px; width: 300px" />
        </form>


        <h1>Hello {{name}} !</h1>
        <a href="/assets/qpython/projects3/WebAppSample/main.py">View source</a>
        <br /><br /> 
        <a href="javascript:milib.close()">>> Exit</a>
        <br />
        <a href="http://wiki.qpython.org/doc/program_guide/web_app/">>> About QPython Web App</a>
        <br />
        <a href="/play?id=0">>> play</a>
        <br />
        <a href="/_play/0">>> play</a>
        <br />

        <a href="/__ping">>> Ping</a>
       
